<a href="https://colab.research.google.com/github/Meghanaac/Python/blob/main/Python_Basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World!")

Hello World!

In [ ]:
 x = 2

In [ ]:
print(x)

2

In [ ]:
print(x)

2

In [ ]:
x =20

In [ ]:
type(x)

int

In [ ]:
import math
math.sqrt(225)

15.0

In [ ]:
round(743587.4582,2)

743587.46

In [ ]:
3 > 5

False

In [ ]:
7 < 25

True

In [ ]:
10 == 20
10 == 10

True

In [ ]:
print(10+20)
print(20-10)
print(10*20)
print(20/10)
print(10 == 10)
print(10 != 10)
print(10 < 20)
print(10 > 20)
print((10 > 3)|(10 == 5))
print((10 > 3)&(10 == 5))
print(not(10< 3))

30
10
200
2.0
True
False
True
False
True
False
True

In [ ]:
i = 0
while i <= 5:
  print(i)
  i = i +1
print("While Loop ends")

0
1
2
3
4
5
While Loop ends

In [ ]:
print(range(5))
list(range(5))

range(0, 5)

[0, 1, 2, 3, 4]

In [ ]:
m = 12
for i in range (m):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11

In [ ]:
import numpy as np
from numpy.random import randn
x = randn()
if x>1:
  result = "greater than 1"
print(x)
print(result)

1.0607492397722538
greater than 1

In [ ]:
x = randn()
if x>1:
  result = "greater than 1"
else :
  result = "less than 1"
print(x)
print(result)

-0.5960972385196095
less than 1

In [66]:
x = randn()
if x>1:
  result = "greater than 1"
elif x < -1 :
  result = "less than -1"
else:
  result = "between -1 and 1"
print(x)
print(result)

0.27833282918334595
between -1 and 1

In [78]:
a = [1,2,3,'abc',True,20.556]
print(a[0])
print(a[4])
print(a)
print(a[-1])
a[1] = "xyz"
print(a)
print(a[4:])
print(a[::2])
print(a[::-1])
type(a)

1
True
[1, 2, 3, 'abc', True, 20.556]
20.556
[1, 'xyz', 3, 'abc', True, 20.556]
[True, 20.556]
[1, 3, True]
[20.556, True, 'abc', 3, 'xyz', 1]

list

In [81]:
a = (1,2,3,'abc',True,20.556)
print(a[0])
print(a[4])
print(a)
print(a[-1])
#a[1] = "xyz"
print(a)
print(a[4:])
print(a[::2])
print(a[::-1])
type(a)

1
True
(1, 2, 3, 'abc', True, 20.556)
20.556
(1, 2, 3, 'abc', True, 20.556)
(True, 20.556)
(1, 3, True)
(20.556, True, 'abc', 3, 2, 1)

tuple

In [85]:
print(range(9))
print(a)
print(len(a))
print(type(a))
print(max(10,20))
print(min(10,20))

range(0, 9)
(1, 2, 3, 'abc', True, 20.556)
6
<class 'tuple'>
20
10